html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#app {
    height: 100%;
    width: 100%;
}

.el-calendar-table td.is-selected {
    border-top: #5856d6 2px solid;
}