$activity-status-text-color: #FFFFFF;
$activity-status-open-bg-color: #409EFF;
$activity-status-active-bg-color: #67C23A;
$activity-status-close-bg-color: #E6A23C;

$pilots-status-sign-text-color: #409EFF;
$pilots-status-clearance-text-color: #b388ff;
$pilots-status-takeoff-text-color: #E6A23C;
$pilots-status-land-text-color: #67C23A;

$image-upload-width: 114px;
$image-upload-height: 114px;